################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHubTest/CardGameTest/.vs/CardGameTest/CopilotIndices/17.14.794.21998/CodeChunks.db
/GitHubTest/CardGameTest/.vs/CardGameTest/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
/GitHubTest/CardGameTest/.vs/CardGameTest/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
/GitHubTest/CardGameTest/.vs/CardGameTest/CopilotIndices/17.14.794.21998/SemanticSymbols.db
/GitHubTest/CardGameTest/.vs/CardGameTest/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
/GitHubTest/CardGameTest/.vs/CardGameTest/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
/GitHubTest/CardGameTest/.vs/CardGameTest/FileContentIndex/849d9f3c-d133-467c-b0ed-9480aa0157db.vsidx
/GitHubTest/CardGameTest/.vs/CardGameTest/FileContentIndex/8c5ff392-7088-4005-b30c-37c9cf9e78da.vsidx
/GitHubTest/CardGameTest/.vs/CardGameTest/FileContentIndex/a6bb68ca-0712-4141-85f7-90044a828038.vsidx
/GitHubTest/CardGameTest/.vs/CardGameTest/FileContentIndex/a8efb7a5-1917-4825-b2f2-4b01383d2222.vsidx
/GitHubTest/CardGameTest/.vs/CardGameTest/v17/.suo
/GitHubTest/CardGameTest/.vs/CardGameTest/v17/DocumentLayout.backup.json
/GitHubTest/CardGameTest/.vs/CardGameTest/v17/DocumentLayout.json
/GitHubTest/CardGameTest/bin/Debug/net8.0/CardGameTest.deps.json
/GitHubTest/CardGameTest/bin/Debug/net8.0/CardGameTest.dll
/GitHubTest/CardGameTest/bin/Debug/net8.0/CardGameTest.exe
/GitHubTest/CardGameTest/bin/Debug/net8.0/CardGameTest.pdb
/GitHubTest/CardGameTest/bin/Debug/net8.0/CardGameTest.runtimeconfig.json
/GitHubTest/CardGameTest/obj/CardGameTest.csproj.nuget.dgspec.json
/GitHubTest/CardGameTest/obj/CardGameTest.csproj.nuget.g.props
/GitHubTest/CardGameTest/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GitHubTest/CardGameTest/obj/Debug/net8.0/apphost.exe
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.AssemblyInfo.cs
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.AssemblyInfoInputs.cache
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.assets.cache
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.csproj.BuildWithSkipAnalyzers
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.csproj.CoreCompileInputs.cache
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.csproj.FileListAbsolute.txt
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.dll
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.GeneratedMSBuildEditorConfig.editorconfig
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.genruntimeconfig.cache
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.pdb
/GitHubTest/CardGameTest/obj/Debug/net8.0/CardGameTest.sourcelink.json
/GitHubTest/CardGameTest/obj/Debug/net8.0/ref/CardGameTest.dll
/GitHubTest/CardGameTest/obj/Debug/net8.0/refint/CardGameTest.dll
/GitHubTest/CardGameTest/obj/project.assets.json
/GitHubTest/TestLibrary/obj/Cards&DecksClass.csproj.nuget.g.props
/GitHubTest/TestLibrary/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.AssemblyInfo.cs
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.AssemblyInfoInputs.cache
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.assets.cache
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.csproj.CoreCompileInputs.cache
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.csproj.FileListAbsolute.txt
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.dll
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.GeneratedMSBuildEditorConfig.editorconfig
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.pdb
/GitHubTest/TestLibrary/obj/Debug/net8.0/Cards&DecksClass.sourcelink.json
/GitHubTest/TestLibrary/obj/Debug/net8.0/ref/Cards&DecksClass.dll
/GitHubTest/TestLibrary/obj/Debug/net8.0/refint/Cards&DecksClass.dll
/GitHubTest/TestLibrary/obj/project.assets.json
/GitHubTest/TestLibrary/bin/Debug/net8.0/Cards&DecksClass.deps.json
/GitHubTest/TestLibrary/bin/Debug/net8.0/Cards&DecksClass.dll
/GitHubTest/TestLibrary/bin/Debug/net8.0/Cards&DecksClass.pdb
/GitHubTest/TestLibrary/obj/Cards&DecksClass.csproj.nuget.dgspec.json
/GitHubTest/TestLibrary/obj/project.nuget.cache
